{:deps    {ring/ring-core                               {:mvn/version "1.9.2"}
           br.com.souenzzo.ourives/java.io              {:local/root "../java.io"}
           br.com.souenzzo.ourives/client               {:local/root "../client"}
           br.com.souenzzo.ourives/client.java-net-http {:local/root "../client.java-net-http"}
           br.com.souenzzo.ourives/client.pedestal      {:local/root "../client.pedestal"}}
 :aliases {:dev {:extra-paths ["dev" "test"
                               "ring/ring-core/src"]
                 :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"
                               "-Dclojure.core.async.go-checking=true"]
                 :extra-deps  {midje/midje                              {:mvn/version "1.10.5"}
                               org.clojure/clojure                      {:mvn/version "1.10.3"}
                               com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.5.0"}
                               io.pedestal/pedestal.service             {:mvn/version "0.5.9"}
                               org.clojure/data.json                    {:mvn/version "2.3.1"}
                               io.pedestal/pedestal.jetty               {:mvn/version "0.5.9"}
                               org.slf4j/slf4j-simple                   {:mvn/version "2.0.0-alpha1"}
                               javax.servlet/javax.servlet-api          {:mvn/version "4.0.1"}
                               jakarta.json/jakarta.json-api            {:mvn/version "2.0.1"}
                               thheller/shadow-cljs                     {:mvn/version "2.14.5"}
                               org.clojure/test.check                   {:mvn/version "1.1.0"}}}}}
