{:deps    {ring/ring-core                  {:mvn/version "1.9.2"}
           br.com.souenzzo.ourives/java.io {:local/root "http.io"}}
 :aliases {:dev {:extra-paths ["dev" "test"
                               "ring/ring-core/src"]
                 :extra-deps  {midje/midje                              {:mvn/version "1.9.9"}
                               org.clojure/clojure                      {:mvn/version "1.10.3"}
                               com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.5.0"}
                               io.pedestal/pedestal.service             {:mvn/version "0.5.9"}
                               io.pedestal/pedestal.jetty               {:mvn/version "0.5.9"}
                               org.slf4j/slf4j-simple                   {:mvn/version "2.0.0-alpha1"}
                               javax.servlet/javax.servlet-api          {:mvn/version "4.0.1"}
                               thheller/shadow-cljs                     {:mvn/version "2.14.5"}
                               org.clojure/test.check                   {:mvn/version "1.1.0"}}}}}
